<h1>Welcome to!</h1>
<a class="brand" href="index"><%= image_tag "SnappyQuizLogo.png" %> </a>
<p>A site to learn basic English.</p>
<br><br>

<h2>To Begin: <%= link_to "Click Here!", posts_path %></h2> 

          <a href="#" class="sb min twitter">Twitter</a>
